<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end " id="navbarCollapse">
        <a class="nav-link" href="#">Logout</a>
            </div>
  </nav>

  <!-- <div class="d-flex justify-content-between"> -->
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="APPLICANT DETAILS">
        
            <app-applicantdetails></app-applicantdetails>
          
        </mat-tab>
        <mat-tab label="DOCUMENT UPLOAD">
         
            <app-applicantdetails></app-applicantdetails>
         
        </mat-tab>
        
      </mat-tab-group>
     
  <!-- </div> -->



 
