<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end " id="navbarCollapse">
        <a class="nav-link" href="#">Logout</a>
            </div>
  </nav>

  <div class="d-flex justify-content-between">
     <div class="frame2">
    <h1></h1>
    <div class="title">
      <h2  style="color:rgb(245, 233, 233)">Upload city master</h2>
     
    </div>
    <div class="center">
      <div class="title">
       
        <h1>Drop file to upload</h1>
      </div>
  
      <form [formGroup]="uploadCityForm" (ngSubmit)="onCitySubmit()">
      <div class="dropzone">
        <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
        <input type="file" class="upload-input" name="uploadCity" (change)="onFileSelect($event)" />
      </div>
  
      <button type="button" class="btn" name="uploadbutton">Upload file</button>
  </form>
    </div>
  </div>


  <div class="frame ">
    <h1></h1>
    <div class="title">
      <h2  style="color:rgb(245, 233, 233)">Upload document checklist</h2>
     
    </div>
    <div class="center">
      <div class="title">
       
        <h1>Drop file to upload</h1>
      </div>
      <form [formGroup]="uploadDocForm" (ngSubmit)="onDocSubmit()">
      <div class="dropzone">
        <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
        <input type="file" class="upload-input" name="uploadDoc" (change)="onDocFileSelect($event)"/>
      </div>
  
      <button type="submit" class="btn"  name="uploadbutton">Upload file</button>
  </form>
    </div>
  </div>



 
  <!-- original pen: https://codepen.io/roydigerhund/pen/ZQdbeN  -->
  
  <!-- NO JS ADDED YET -->